<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

   <connectionStrings>
      <add name="messengerconnection" connectionString="data source=(localdb)\mssqllocaldb;attachdbfilename=|datadirectory|\messenger.mdf;integrated security=true" providerName="system.data.sqlclient" />
  </connectionStrings>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" maxRequestLength="1000000"/><!-- 1GB -->
      
      <sessionState cookieless="false" mode="InProc" stateNetworkTimeout="10" sqlCommandTimeout="30" cookieName="ASP.NET_SessionId" timeout="525600" regenerateExpiredSessionId="false">
        <providers>
          <clear/>
        </providers>
      </sessionState>


      <customErrors mode="Off" redirectMode="ResponseRedirect"  defaultRedirect="login.aspx"/>
    </system.web>

 
  
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
</configuration>
